@model HomeLoanApp.Models.LoanDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanDetails</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenure)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
