@model HomeLoanApp.Models.LoanDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoanDetails</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenure)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Application_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
