@model IEnumerable<HomeLoanApp.Models.LoanDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tenure)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Application_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Application_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Application_Id })
        </td>
    </tr>
}

</table>
